In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
from itertools import combinations

In [2]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1281,tt2017020,105000000,347434178,The Smurfs 2,Neil Patrick Harris|Christina Ricci|Katy Perry...,Raja Gosnell,Get ready to get naughty!,The evil wizard Gargamel creates a couple of m...,105,Fantasy|Family|Comedy|Animation,Columbia Pictures|Sony Pictures Animation|Kern...,7/30/2013,5.5,2013
1416,tt0419294,15000000,12036149,The Three Burials of Melquiades Estrada,Tommy Lee Jones|Barry Pepper|Dwight Yoakam|Jan...,Tommy Lee Jones,Nobody is beyond redemption.,When brash Texas border officer Mike Norton (B...,121,Adventure|Crime|Drama|Mystery|Western,The Javelina Film Company|EuropaCorp,11/17/2005,6.7,2005
574,tt0181739,75000000,13596911,Osmosis Jones,Chris Rock|Laurence Fishburne|David Hyde Pierc...,Bobby Farrelly|Peter Farrelly,Every BODY needs a hero,"A policeman white blood cell, with the help of...",95,Adventure|Animation|Action|Comedy|Family,Conundrum Entertainment|Warner Bros. Animation...,8/7/2001,5.6,2001
1304,tt2083355,17000000,71625195,The Best Man Holiday,Terrence Howard|Harold Perrineau|Morris Chestn...,Malcolm D. Lee,Times change. Friendship doesn't.,When college friends reunite after 15 years ov...,123,Comedy,Universal,11/15/2013,7.0,2013
479,tt0455407,20000000,54956140,The Crazies,Timothy Olyphant|Radha Mitchell|Joe Anderson|D...,Breck Eisner,Fear Thy Neighbor,Four friends find themselves trapped in their ...,101,Mystery|Horror|Action,Penn Station Entertainment|Participant Media|I...,2/26/2010,6.1,2010

In [3]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [4]:
answers = {}  # Create a dictionary for answers

# Change this in datetime format
data.release_date = pd.to_datetime(data.release_date)

# Added a columns with a month and profit
data['month'] = data.release_date.dt.month
data['profit'] = data['revenue'] - data['budget']

# transforming the columns for convenient processing
data['genres'] = data.genres.str.split('|')
data['director'] = data.director.str.split('|')
data['cast'] = data.cast.str.split('|')

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [5]:
answers['1'] = '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)'

In [6]:
data.query('budget == budget.max()')

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,month,profit
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,"[Johnny Depp, PenÃ©lope Cruz, Geoffrey Rush, I...",[Rob Marshall],Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,"[Adventure, Action, Fantasy]",Walt Disney Pictures|Jerry Bruckheimer Films|M...,2011-05-11,6.3,2011,5,641683000

ВАРИАНТ 2

In [7]:
data[data['budget'] == data['budget'].max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,month,profit
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,"[Johnny Depp, PenÃ©lope Cruz, Geoffrey Rush, I...",[Rob Marshall],Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,"[Adventure, Action, Fantasy]",Walt Disney Pictures|Jerry Bruckheimer Films|M...,2011-05-11,6.3,2011,5,641683000

ВАРИАНТ 3

In [8]:
data.sort_values(['budget'], ascending=False).head(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,month,profit
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,"[Johnny Depp, PenÃ©lope Cruz, Geoffrey Rush, I...",[Rob Marshall],Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,"[Adventure, Action, Fantasy]",Walt Disney Pictures|Jerry Bruckheimer Films|M...,2011-05-11,6.3,2011,5,641683000

# 2. Какой из фильмов самый длительный (в минутах)?

In [9]:
answers['2'] = '2. Gods and Generals (tt0279111)'

In [10]:
data.query('runtime == runtime.max()')

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,month,profit
1157,tt0279111,56000000,12923936,Gods and Generals,"[Stephen Lang, Jeff Daniels, Robert Duvall, Ke...",[Ronald F. Maxwell],The nations heart was touched by...,The film centers mostly around the personal an...,214,"[Drama, History, War]",Turner Pictures|Antietam Filmworks,2003-02-21,5.8,2003,2,-43076064

# 3. Какой из фильмов самый короткий (в минутах)?

In [11]:
answers['3'] = '3. Winnie the Pooh (tt1449283)'

In [12]:
data.query('runtime == runtime.min()')

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,month,profit
768,tt1449283,30000000,14460000,Winnie the Pooh,"[Jim Cummings, Travis Oates, Jim Cummings, Bud...","[Stephen Anderson, Don Hall]",Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,"[Animation, Family]",Walt Disney Pictures|Walt Disney Animation Stu...,2011-04-13,6.8,2011,4,-15540000

# 4. Какова средняя длительность фильмов?

In [13]:
answers['4'] = '2. 110'

In [14]:
round(data['runtime'].mean())

110

# 5. Каково медианное значение длительности фильмов?

In [15]:
answers['5'] = '1. 107'

In [16]:
data['runtime'].median()

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [17]:
answers['6'] = '5. Avatar (tt0499549)'

In [18]:
data.query('profit == profit.max()')

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,month,profit
239,tt0499549,237000000,2781505847,Avatar,"[Sam Worthington, Zoe Saldana, Sigourney Weave...",[James Cameron],Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,"[Action, Adventure, Fantasy, Science Fiction]",Ingenious Film Partners|Twentieth Century Fox ...,2009-12-10,7.1,2009,12,2544505847

# 7. Какой фильм самый убыточный?

In [19]:
answers['7'] = '5. The Lone Ranger (tt1210819)'

In [20]:
data.query('profit == profit.min()')

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,month,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,"[Johnny Depp, Armie Hammer, William Fichtner, ...",[Gore Verbinski],Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,"[Action, Adventure, Western]",Walt Disney Pictures|Jerry Bruckheimer Films|I...,2013-07-03,6.0,2013,7,-165710090

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [21]:
answers['8'] = '1. 1478'

In [22]:
data[data['revenue'] > data['budget']]['imdb_id'].count()

1478

ВАРИАНТ 2

In [23]:
data.query('profit > 0')['imdb_id'].count()

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [24]:
answers['9'] = '4. The Dark Knight (tt0468569)'

In [25]:
film_2008 = data.query('release_year == 2008')
film_2008.sort_values(['profit'], ascending=False).head(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,month,profit
599,tt0468569,185000000,1001921825,The Dark Knight,"[Christian Bale, Michael Caine, Heath Ledger, ...",[Christopher Nolan],Why So Serious?,Batman raises the stakes in his war on crime. ...,152,"[Drama, Action, Crime, Thriller]",DC Comics|Legendary Pictures|Warner Bros.|Syncopy,2008-07-16,8.1,2008,7,816921825

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [26]:
answers['10'] = '5. The Lone Ranger (tt1210819)'

In [27]:
data.query('2012 <= release_year <= 2014').sort_values(['profit']).head(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,month,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,"[Johnny Depp, Armie Hammer, William Fichtner, ...",[Gore Verbinski],Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,"[Action, Adventure, Western]",Walt Disney Pictures|Jerry Bruckheimer Films|I...,2013-07-03,6.0,2013,7,-165710090

# 11. Какого жанра фильмов больше всего?

In [28]:
answers['11'] = '3. Drama'

In [29]:
genres_top = data.explode('genres')['genres']
counter11 = Counter(genres_top)  # Creating a counter
counter11.most_common(1)

[('Drama', 782)]

ВАРИАНТ 2

In [30]:
data.explode('genres').genres.value_counts().head(1)

Drama    782
Name: genres, dtype: int64

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [31]:
answers['12'] = '1. Drama'

In [32]:
genres_profit = data.explode('genres').query('profit > 0')['genres']
counter12 = Counter(genres_profit)
counter12.most_common(1)

[('Drama', 560)]

ВАРИАНТ 2

In [33]:
data.explode('genres').query('profit > 0')['genres'].value_counts().head(1)

Drama    560
Name: genres, dtype: int64

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [34]:
answers['13'] = '5. Peter Jackson'

In [35]:
director_top = data.explode('director').groupby(['director'])['revenue'].sum()
director_top.sort_values(ascending=False).head(1)

director
Peter Jackson    6490593685
Name: revenue, dtype: int64

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [36]:
answers['14'] = '3. Robert Rodriguez'

In [37]:
# Filtering the dataframe by genre Action
gen_action = data[data.genres.str.contains('Action', na=False, regex=False)]

# Count the largest number of directors
director_action = gen_action.explode('director')['director']
Counter(director_action).most_common(1)

[('Robert Rodriguez', 9)]

ВАРИАНТ 2

In [38]:
gen_action = data[data.genres.str.contains('Action', na=False, regex=False)]
director_action = gen_action.explode('director').groupby(['director'])['imdb_id'].count()
director_action.sort_values(ascending=False).head(1)

director
Robert Rodriguez    9
Name: imdb_id, dtype: int64

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [39]:
answers['15'] = '3. Chris Hemsworth'

In [40]:
actor_2012 = data.explode('cast').query('release_year == 2012')
actor_2012.groupby(['cast'])['revenue'].sum().sort_values(ascending=False).head(1)

cast
Chris Hemsworth    2027450773
Name: revenue, dtype: int64

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [41]:
answers['16'] = '3. Matt Damon'

In [42]:
actor_top = data.explode('cast').query('budget > budget.mean()')['cast']
Counter(actor_top).most_common(1)

[('Matt Damon', 18)]

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [43]:
answers['17'] = '2. Action'

In [44]:
nic_cage = data[data['cast'].str.contains('Nicolas Cage', na=False, regex=False)]
genres_nc = nic_cage.explode('genres')['genres']
Counter(genres_nc).most_common(1)

[('Action', 17)]

# 18. Самый убыточный фильм от Paramount Pictures

In [45]:
answers['18'] = '1. K-19: The Widowmaker (tt0267626)'

In [46]:
min_profit = data[data['production_companies'].str.contains('Paramount Pictures', na=False)]
min_profit.query('profit == profit.min()')['original_title']

925    K-19: The Widowmaker
Name: original_title, dtype: object

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [47]:
answers['19'] = '5. 2015'

In [48]:
data.groupby(['release_year'])['revenue'].sum().sort_values(ascending=False).head(1)

release_year
2015    25449202382
Name: revenue, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [49]:
answers['20'] = '1. 2014'

In [50]:
profit_wb = data[data['production_companies'].str.contains('Warner Bros', na=False)]
profit_wb.groupby(['release_year'])['revenue'].sum().sort_values(ascending=False).head(1)

release_year
2014    3243064519
Name: revenue, dtype: int64

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [51]:
answers['21'] = '4. Сентябрь'

In [52]:
data['month'].value_counts().head(1)

9    227
Name: month, dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [53]:
answers['22'] = '2. 450'

In [54]:
data.query('month in [6, 7, 8]')['imdb_id'].count()

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [55]:
answers['23'] = '5. Peter Jackson'

In [56]:
data.explode('director').query('month in [12, 1, 2]').director.mode()

0    Peter Jackson
dtype: object

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [57]:
answers['24'] = '5. Four By Two Productions'

In [58]:
data24 = data.copy()
data24['production_companies'] = data24.production_companies.str.split('|')
data24 = data24.explode('production_companies')
data24['original_title'] = data24.original_title.str.len()
data24.groupby(['production_companies'])['original_title'].mean().sort_values(ascending=False)

production_companies
Four By Two Productions       83.0
Jim Henson Company, The       59.0
Dos Corazones                 47.0
Polsky Films                  46.0
Museum Canada Productions     46.0
                              ...
Everest Entertainment          3.0
Berlanti Productions           3.0
Global Entertainment Group     2.0
XM2 Productions                2.0
Ixtlan Productions             2.0
Name: original_title, Length: 1771, dtype: float64

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [59]:
answers['25'] = '3. Midnight Picture Show'

In [60]:
data25 = data.copy()
data25['production_companies'] = data25.production_companies.str.split('|')
data25 = data24.explode('production_companies')
data25['overview'] = data25.overview.str.split().str.len()
data25.groupby(['production_companies'])['overview'].mean().sort_values(ascending=False)

production_companies
Midnight Picture Show                    175.0
Room 9 Entertainment                     161.0
Heineken Branded Entertainment           159.0
98 MPH Productions                       159.0
Brookwell-McNamara Entertainment         156.0
                                         ...
Henceforth                                13.0
Our Stories Films                         13.0
London Boulevard                          13.0
Motion Picture Corporation of America     11.0
Empire Pictures                           11.0
Name: overview, Length: 1771, dtype: float64

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [61]:
answers['26'] = '1. Inside Out, The Dark Knight, 12 Years a Slave'

In [62]:
rate_99 = np.percentile(data.vote_average, 99)
data.loc[data['vote_average'] > rate_99]['original_title']

9                                          Inside Out
34                                               Room
118                                      Interstellar
119                           Guardians of the Galaxy
125                                The Imitation Game
128                                         Gone Girl
138                          The Grand Budapest Hotel
370                                         Inception
599                                   The Dark Knight
872                                       The Pianist
1081    The Lord of the Rings: The Return of the King
1183                          The Wolf of Wall Street
1191                                 12 Years a Slave
1800                                          Memento
Name: original_title, dtype: object

ВАРИАНТ 2

In [63]:
rate_99 = data.quantile(0.99, numeric_only=True)['vote_average']
data.loc[data['vote_average'] > rate_99]['original_title']

9                                          Inside Out
34                                               Room
118                                      Interstellar
119                           Guardians of the Galaxy
125                                The Imitation Game
128                                         Gone Girl
138                          The Grand Budapest Hotel
370                                         Inception
599                                   The Dark Knight
872                                       The Pianist
1081    The Lord of the Rings: The Return of the King
1183                          The Wolf of Wall Street
1191                                 12 Years a Slave
1800                                          Memento
Name: original_title, dtype: object

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [64]:
answers['27'] = '1. Daniel Radcliffe & Rupert Grint'

In [65]:
cast_pairs = data.copy()
cast_pairs.cast = cast_pairs.cast.apply(lambda x: list(combinations(sorted(x), 2)))
cast_pairs.explode('cast').cast.value_counts()

(Daniel Radcliffe, Emma Watson)          8
(Daniel Radcliffe, Rupert Grint)         8
(Emma Watson, Rupert Grint)              8
(Ben Stiller, Owen Wilson)               6
(Helena Bonham Carter, Johnny Depp)      6
                                        ..
(Melissa McCarthy, Miranda Hart)         1
(Nick Krause, Robert Forster)            1
(Diego Luna, MÃ­a Maestro)               1
(Elizabeth Perkins, Hank Azaria)         1
(Armand Assante, Matthew McConaughey)    1
Name: cast, Length: 17943, dtype: int64

# Submission

In [66]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '2. Gods and Generals (tt0279111)',
 '3': '3. Winnie the Pooh (tt1449283)',
 '4': '2. 110',
 '5': '1. 107',
 '6': '5. Avatar (tt0499549)',
 '7': '5. The Lone Ranger (tt1210819)',
 '8': '1. 1478',
 '9': '4. The Dark Knight (tt0468569)',
 '10': '5. The Lone Ranger (tt1210819)',
 '11': '3. Drama',
 '12': '1. Drama',
 '13': '5. Peter Jackson',
 '14': '3. Robert Rodriguez',
 '15': '3. Chris Hemsworth',
 '16': '3. Matt Damon',
 '17': '2. Action',
 '18': '1. K-19: The Widowmaker (tt0267626)',
 '19': '5. 2015',
 '20': '1. 2014',
 '21': '4. Сентябрь',
 '22': '2. 450',
 '23': '5. Peter Jackson',
 '24': '5. Four By Two Productions',
 '25': '3. Midnight Picture Show',
 '26': '1. Inside Out, The Dark Knight, 12 Years a Slave',
 '27': '1. Daniel Radcliffe & Rupert Grint'}

In [67]:
# и убедиться что ни чего не пропустил)
len(answers)

27